#wrapper {
    width: 960px;
    margin-right: auto;
    margin-left: auto;  
    font-family: arial, sans-serif; 
    font-size: 16px;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    text-align: center;
}

nav {
    text-align: center;
    
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 40px;
}

a {
    color: #777;
    text-decoration: none;
}

section {
    width: 650px;
    float: left;
}

aside {
    width: 310px;
    float: right;
}

